@import 'tailwindcss';
@theme {
  --font-sans: InterVariable, sans-serif;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light-finan';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(60% 0.25 292.717);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
